{% extends "import.html" %} 
{% block content %} 
<center><br>

<h3>ABOUT US</h3>

<h4 style="text-align: justify;margin: 30px;line-height: 1.5;">Welcome to our website! We are a team of final year students - Siddique, Aaliya, Askar, and Tasmiya who recently completed a project on plant leaf disease detection using machine learning and deep learning under the guidance of Professor Divya KK.

    Our project aims to address the issue of plant diseases, which are a major threat to agricultural production worldwide. Traditional methods of detecting plant diseases can be time-consuming and may not always yield accurate results. Our project provides an innovative solution to this problem by using machine learning and deep learning techniques to accurately detect and diagnose plant diseases.
    
    Our team utilized various machine learning algorithms such as K-Nearest Neighbor, Decision Trees, Random Forest, and Support Vector Machines to train our model on a large dataset of plant images with and without diseases. We also implemented deep learning techniques such as Convolutional Neural Networks to further enhance the accuracy of our model.
    
    The end result of our project is a user-friendly application that can be easily used by farmers and agricultural professionals to detect and diagnose plant diseases quickly and accurately. Our application can help farmers to take necessary precautions and prevent the spread of diseases, ultimately leading to better crop yields and increased agricultural production.
    
    We are extremely proud of our project and the impact it can have on the agricultural industry. We would like to thank Professor Divya KK for her guidance and support throughout the project. Please feel free to explore our website to learn more about our project and its impact.</h4>

</center><br><br>
{% endblock %} 